.upperbar {
    display:flex;
}

.logo {
    width:184px;
    margin-left:300px;
    margin-top:50px;
}

.upperBT {
    margin-left:40px;
    margin-top:80px;
}

.homeBT {
    margin-left:752px;
    margin-top:58px;
    background: url("../homeBT.png") no-repeat;
    width:134px;
    border-width:0px;
}

.banner {
    width:1600px;
    height:2966px;
    margin-top:164px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);

}

.lowerbar {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}

.lowerBT{
    margin:100px;
    position:relative;
    top:3100px;
    width:240px;
}